# Node dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store

# Auth0 credentials (just in case)
auth_config.json

authHandler.js

server.js

CC_logo.png

simplegirl.png

