# Node dependencies

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store

# Auth0 credentials (just in case)
auth_config.json

authHandler.js

simplegirl.png

m2m.js

serviceAccountKey.json
